.modal_mensagem {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    align-content: center;
}
.modal-content {
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* botão e letras animadas  
    |
   \|/ */
:root {
    --_fw-900: 900;
    --_fw-700: 700;
    --_fw-400: 400;
  
  
    --_clr-900: #4A261a ;/* #EAE0D5  */
    --_clr-700: #994e0d ;/* #C6AC8F  */
    --_clr-400: #Cabdad;/* #5E503F */
  
  }
  .animacaotext {
    user-select: none;
  
    &.split-text {
      display: inline-flex;
      font-size: clamp(2em, 6vw, 4em); /* Define um intervalo de tamanho para o título */
      
      
    }
  
    & .split-char {
      font-weight: 500;
      transition: font-weight 0.5s ease;
  
      &:hover {
        font-weight: var(--_fw-900);
        color: var(--_clr-900);
      }
  
      /* // right side */
      &:hover + .split-char {
        font-weight: var(--_fw-700);
        color: var(--_clr-700);
      }
      &:hover + .split-char + .split-char {
        font-weight: var(--_fw-400);
        color: var(--_clr-400);
      }
  
      /* // left side */
      &:has(+ .split-char:hover) {
        font-weight: var(--_fw-700);
        color: var(--_clr-700);
      }
      &:has(+ .split-char + .split-char:hover) {
        font-weight: var(--_fw-400);
        color: var(--_clr-400);
      }
    }
  }
  
  #btncolor{
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: .5rem;
    padding: 0.5rem  2.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background-color:#C6AC8F;
    
    & .spanbtn{
      position: relative;
      z-index: 3;
      letter-spacing: 1px;
      color: white;
    }
  
    & .overlay{
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #22333B;
      z-index: 0;
      clip-path: circle(12% at -49% 49%);
      transition: all .3s ease-in;
    }
    
    &:hover{
      cursor: pointer;
  
      & .overlay{
        clip-path: circle(120% at 76% 49%);
       }
    }
  }
  
  